<section class="gallery">
	<div class="page_nav">
		<div class="page_nav-wrap">
			<div class="page_nav-head">Галерея</div>
			<div class="page_nav-box page_nav__desktop">
				<a href="javascript:void(0);" class="page_nav-item">
					<svg class="icon-svg-arr">
						<use xlink:href="img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
					<span>Ход строительства</span></a>
				<a href="javascript:void(0);" class="page_nav-item current">
					<svg class="icon-svg-arr">
						<use xlink:href="img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
					<span>Фото комплекса</span></a>

				<a href="javascript:void(0);" class="page_nav-item">
					<svg class="icon-svg-arr">
						<use xlink:href="img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
					<span>Веб-камера</span></a>
			</div>
			<div class="page_nav-box page_nav__tablets">
				<div class="select-head">
					<span>Фото комплекса</span>
					<svg class="icon-svg-arr-down-1">
						<use xlink:href="img/sprite.svg#arr-down-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
				</div>
				<div class="select-dropdown">
					<a href="javascript:void(0);" class="select-dropdown-item">Ход строительства</a>
					<a href="javascript:void(0);" class="select-dropdown-item current">Фото комплекса</a>
					<a href="javascript:void(0);" class="select-dropdown-item">Веб-камера</a>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-container gallery_swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-01.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-02.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-03.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-04.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-05.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-06.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-07.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-08.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-09.jpg" alt="swiper slide">
			</div>
			<div class="swiper-slide">
				<img src="/img/gallery/swiper-slide-10.jpg" alt="swiper slide">
			</div>
		</div>
		<div class="swiper_tips">
			<div class="swiper_tips-desktop">
				<svg class="icon-svg-swiper_tip-1">
					<use xlink:href="img/sprite.svg#swiper_tip-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
				<span class="tips_separate">или</span>
				<svg class="icon-svg-swiper_tip-2">
					<use xlink:href="img/sprite.svg#swiper_tip-2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
				<svg class="icon-svg-swiper_tip-3">
					<use xlink:href="img/sprite.svg#swiper_tip-2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
			</div>
			<div class="swiper_tips-tablets">
				<svg class="icon-svg-swiper_tip-4">
				<use xlink:href="img/sprite.svg#swiper_tip-3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev">
			<svg class="icon-svg-swiper_arr">
				<use xlink:href="img/sprite.svg#swiper_arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
		<div class="swiper-button-next">
			<svg class="icon-svg-swiper_arr">
				<use xlink:href="img/sprite.svg#swiper_arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>
</section>
