<section class="progress">
	<div class="page_nav">
		<div class="page_nav-wrap">
			<div class="page_nav-head">Комплекс</div>
			<div class="page_nav-box page_nav__desktop">
				<a href="javascript:void(0);" class="page_nav-item">
					<svg class="icon-svg-arr">
						<use xlink:href="/img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
					<span>Схема застройки</span></a> <a href="javascript:void(0);" class="page_nav-item">
				<svg class="icon-svg-arr">
					<use xlink:href="/img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
				<span>Технические характеристики</span></a>

				<a href="javascript:void(0);" class="page_nav-item current">
					<svg class="icon-svg-arr">
						<use xlink:href="/img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
					<span>Документация</span></a>
			</div>
			<div class="page_nav-box page_nav__tablets">
				<div class="select-head">
					<span>Документация</span>
					<svg class="icon-svg-arr-down-1">
						<use xlink:href="/img/sprite.svg#arr-down-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
				</div>
				<div class="select-dropdown">
					<a href="javascript:void(0);" class="select-dropdown-item">Ход строительства</a> <a href="javascript:void(0);" class="select-dropdown-item current">Фото комплекса</a> <a href="javascript:void(0);" class="select-dropdown-item">Веб-камера</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
			<div class="progress_section"></div>
			<div class="progress_section swiper_s">
				<div class="swiper_wrap">
					<div class="swiper-container progress_swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="/img/progress/slides/slide_1.jpg" alt="swiper slide">
							</div>
							<div class="swiper-slide">
								<img src="/img/progress/slides/slide_2.jpg" alt="swiper slide">
							</div>
							<div class="swiper-slide">
								<img src="/img/progress/slides/slide_3.jpg" alt="swiper slide">
							</div>
						</div>
					</div>
					<div class="swiper-button-prev">
						<svg class="icon-svg-swiper_arr">
							<use xlink:href="/img/sprite.svg#swiper_arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
						</svg>
					</div>
					<div class="swiper-button-next">
						<svg class="icon-svg-swiper_arr">
							<use xlink:href="/img/sprite.svg#swiper_arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
						</svg>
					</div>
				</div>
			</div>
			<div class="progress_section">
				<div class="adress_widget adress_widget__desktop">
					<h3>АДРЕС ЗАСТРОЙКИ</h3>
					<div class="adress_widget-list">
						<a href="javascript:void(0);" class="adress_widget-list_item">
							<svg class="icon-svg-mapMarker">
								<use xlink:href="/img/sprite.svg#mapMarker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
							</svg>
							<span>ул.Чубинского, 6а</span>
						</a>
						<a href="javascript:void(0);" class="adress_widget-list_item current">
							<svg class="icon-svg-mapMarker">
								<use xlink:href="/img/sprite.svg#mapMarker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
							</svg>
							<span>ул.Чубинского, 6б</span>
						</a>
					</div>
				</div>
				<div class="adress_widget adress_widget__tablet">
					<div class="ardwidget_nav-wrap">
						<div class="ardwidget_nav-box page_nav__tablets">
							<div class="ardwidget_select-head">
								<svg class="icon-svg-mapMarker">
									<use xlink:href="/img/sprite.svg#mapMarker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
								<span>ул.Чубинского, 6а</span>
								<svg class="icon-svg-arr-down-1">
									<use xlink:href="/img/sprite.svg#arr-down-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</div>
							<div class="ardwidget_select-dropdown">
								<a href="javascript:void(0);" class="ardwidget_select-dropdown-item">ул.Чубинского, 6а</a>
								<a href="javascript:void(0);" class="ardwidget_select-dropdown-item">ул.Чубинского, 6б</a>
							</div>
						</div>
					</div>
				</div>
				<div class="date_widget">
					<h3>МЕСЯЦ</h3>
					<div class="widget_nav-wrap">
						<div class="widget_nav-box page_nav__tablets">
							<div class="widget_select-head">
								<svg class="icon-svg-date">
									<use xlink:href="/img/sprite.svg#date" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
								<span>Январь</span>
								<svg class="icon-svg-arr-down-1">
									<use xlink:href="/img/sprite.svg#arr-down-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</div>
							<div class="widget_select-dropdown">
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Январь</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Февраль</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Март</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Апрель</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Март</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Июнь</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Июль</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Август</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Сентябрь</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Октябрь</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Ноябрь</a>
								<a href="javascript:void(0);" class="widget_select-dropdown-item">Декабрь</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>
