<section class="news-1">
	<div class="page_nav">
		<div class="page_nav-wrap">
			<div class="page_nav-head">Пресс-центр</div>
			<div class="page_nav-box page_nav__desktop">
				<a href="javascript:void(0);" class="page_nav-item ">
					<svg class="icon-svg-arr">
						<use xlink:href="/img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
					<span>Акции</span> </a> <a href="javascript:void(0);" class="page_nav-item current">
				<svg class="icon-svg-arr">
					<use xlink:href="/img/sprite.svg#menu_it-arr" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
				<span>Новости</span> </a>
			</div>
			<div class="page_nav-box page_nav__tablets">
				<div class="select-head">
					<span>Новости</span>
					<svg class="icon-svg-arr-down-1">
						<use xlink:href="/img/sprite.svg#arr-down-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
				</div>
				<div class="select-dropdown">
					<a href="javascript:void(0);" class="select-dropdown-item">Акции</a> <a href="javascript:void(0);" class="select-dropdown-item current">Новости</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="news_section"></div>
		<div class="news_section">
			<div class="dateSelection">
				<div class="dateSelection_current">
					<svg class="icon-svg-date">
						<use xlink:href="/img/sprite.svg#date" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
					<span>За всё время</span>
					<svg class="icon-svg-arr-down-1">
						<use xlink:href="/img/sprite.svg#arr-down-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
					</svg>
				</div>
				<div class="dateSelection_dropdown">
					<a href="javascript:void(0);" class="dateSelection_dropdown-item">Ход строительства</a>
					<a href="javascript:void(0);" class="dateSelection_dropdown-item current">Фото комплекса</a>
					<a href="javascript:void(0);" class="dateSelection_dropdown-item">Веб-камера</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="news_section"></div>
		<div class="news_section news_section-content">
			<div class="news_list-items">
				<div class="news_item">
					<a href="javascript:void(0);" class="news_item-img"> <img src="/img/news/news-1.png" alt="news img">
						<div class="img_subscr">Читать полностью…</div>
					</a>
					<div class="news_item-info">
						<div class="news_item-info_date">5 фев 2018</div>
						<a href="javascript:void(0);" class="news_item-info_head">АКЦИЯ КО ДНЮ ВСЕХ ВЛЮБЛЕННЫХ</a>
						<div class="news_item-info_txt">Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.</div>
					</div>
				</div>
				<div class="news_item">
					<a href="javascript:void(0);" class="news_item-img"> <img src="/img/news/news-1.png" alt="news img">
						<div class="img_subscr">Читать полностью…</div>
					</a>
					<div class="news_item-info">
						<div class="news_item-info_date">5 фев 2018</div>
						<a href="javascript:void(0);" class="news_item-info_head">АКЦИЯ КО ДНЮ ВСЕХ ВЛЮБЛЕННЫХ</a>
						<div class="news_item-info_txt">Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.</div>
					</div>
				</div>
				<div class="news_item">
					<a href="javascript:void(0);" class="news_item-img"> <img src="/img/news/news-1.png" alt="news img">
						<div class="img_subscr">Читать полностью…</div>
					</a>
					<div class="news_item-info">
						<div class="news_item-info_date">5 фев 2018</div>
						<a href="javascript:void(0);" class="news_item-info_head">АКЦИЯ КО ДНЮ ВСЕХ ВЛЮБЛЕННЫХ</a>
						<div class="news_item-info_txt">Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.</div>
					</div>
				</div>
				<div class="news_item">
					<a href="javascript:void(0);" class="news_item-img"> <img src="/img/news/news-1.png" alt="news img">
						<div class="img_subscr">Читать полностью…</div>
					</a>
					<div class="news_item-info">
						<div class="news_item-info_date">5 фев 2018</div>
						<a href="javascript:void(0);" class="news_item-info_head">АКЦИЯ КО ДНЮ ВСЕХ ВЛЮБЛЕННЫХ</a>
						<div class="news_item-info_txt">Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.</div>
					</div>
				</div>
				<div class="news_item">
					<a href="javascript:void(0);" class="news_item-img"> <img src="/img/news/news-1.png" alt="news img">
						<div class="img_subscr">Читать полностью…</div>
					</a>
					<div class="news_item-info">
						<div class="news_item-info_date">5 фев 2018</div>
						<a href="javascript:void(0);" class="news_item-info_head">АКЦИЯ КО ДНЮ ВСЕХ ВЛЮБЛЕННЫХ</a>
						<div class="news_item-info_txt">Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.</div>
					</div>
				</div>
				<div class="news_item">
					<a href="javascript:void(0);" class="news_item-img"> <img src="/img/news/news-1.png" alt="news img">
						<div class="img_subscr">Читать полностью…</div>
					</a>
					<div class="news_item-info">
						<div class="news_item-info_date">5 фев 2018</div>
						<a href="javascript:void(0);" class="news_item-info_head">АКЦИЯ КО ДНЮ ВСЕХ ВЛЮБЛЕННЫХ</a>
						<div class="news_item-info_txt">Если ты влюблен в ЖК София Киевская- получи скидку 7% на ГОТОВЫЕ квартиры.</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<div class="p_arr"></div>
				<div class="p_list">
					<div class="p_list-item selected">1</div>
					<div class="p_list-item">2</div>
					<div class="p_list-item">3</div>
					<div class="p_list-item">4</div>
					<div class="p_list-item">5</div>
				</div>
				<div class="p_arr"></div>
			</div>
		</div>
	</div>
</section>
