<header>
	<div class="container">
		<div class="header_logo">
			<!--<a href="javascript:void(0);"><img src="/img/main/logo.png" alt="logo"/></a>-->
			<div class="mobileMenu_btn-container">
				<div class="mobileMenu_btn">
					<div class="mobileMenu_btn-line"></div>
				</div>
			</div>
			<a href="javascript:void(0);">
				<svg class="icon-svg-logo">
					<use xlink:href="img/sprite.svg#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
			</a>
		</div>
		<div class="header_nav">
			<ul class="header_nav-menu">
				<li class="menu_item">
					<a href="javascript:void(0);">Комплекс</a>
					<div class="menu_item-dropdown_wrap">
						<div class="menu_item-dropdown">
							<div class="menu_item-dropdown_item"><a href="javascript:void(0);">Схема застройки</a></div>
							<div class="menu_item-dropdown_item current"><a href="javascript:void(0);">Технические характеристики</a></div>
							<div class="menu_item-dropdown_item"><a href="javascript:void(0);">Документация</a></div>
						</div>
					</div>
				</li>
				<li class="menu_item menu_item__link">
					<a href="javascript:void(0);">Квартиры</a>
				</li>
				<li class="menu_item">
					<a href="javascript:void(0);">Коммерческая</a>
					<div class="menu_item-dropdown_wrap">
						<div class="menu_item-dropdown">
							<div class="menu_item-dropdown_item"><a href="javascript:void(0);">Коммерческая недвижимость</a></div>
							<div class="menu_item-dropdown_item current"><a href="javascript:void(0);">Кладовки</a></div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<a href="javascript:void(0);">Галерея</a>
					<div class="menu_item-dropdown_wrap">
						<div class="menu_item-dropdown">
							<div class="menu_item-dropdown_item"><a href="javascript:void(0);">Фото комплекса</a></div>
							<div class="menu_item-dropdown_item current"><a href="javascript:void(0);">Ход строительства</a></div>
							<div class="menu_item-dropdown_item"><a href="javascript:void(0);">Видео</a></div>
							<div class="menu_item-dropdown_item"><a href="javascript:void(0);">Веб-камера</a></div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<a href="javascript:void(0);">Пресс-центр</a>
					<div class="menu_item-dropdown_wrap">
						<div class="menu_item-dropdown">
							<div class="menu_item-dropdown_item"><a href="javascript:void(0);">Акции</a></div>
							<div class="menu_item-dropdown_item current"><a href="javascript:void(0);">Новости</a></div>
						</div>
					</div>
				</li>
				<li class="menu_item menu_item__link">
					<a href="javascript:void(0);">Условия</a>
					<div class="menu_item-dropdown_wrap">
					</div>
				</li>
				<li class="menu_item menu_item__link">
					<a href="javascript:void(0);">Жек</a>
					<div class="menu_item-dropdown_wrap">
					</div>
				</li>
				<li class="menu_item menu_item__link">
					<a href="javascript:void(0);">Контакты</a>
				</li>
			</ul>
			<div class="header_nav-lang">
				<div class="header_nav-lang_btn">укр</div>
				<div class="header_nav-lang_btn selected">рус</div>
			</div>
		</div>
		<div class="bingc-action-open-passive-form header_call">
				<svg class="icon-svg-binotel_phone">
					<use xlink:href="img/sprite.svg#binotel_phone" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
		</div>
	</div>
</header>

