footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 100;
	
	.container {
		max-width: 1445px;
		padding: 0 25px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.footer_social {
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		
		a {
			display: block;
			height: 15px;
		}
		
		a:first-of-type {
			margin-right: 20px;
		}
		a:last-of-type {
			margin-right: 30px;
		}
		
		svg {
			fill: rgba(232, 221, 224, .5);
			width: 15px;
			height: 15px;
		}
		
		.footer_copy {
			display: flex;
			line-height: 1;
			@extend %aR;
			color: rgba(232, 221, 224, .5);
			font-size: 13px;
			
			a {
				margin-left: 2px;
			}
		}
	}
	

	
	.footer_phone {
		display: flex;
		align-items: center;
		padding-bottom: 10px;
		
		.icon-svg-phone {
			width: 14.4px;
			height: 14.4px;
			fill: #D3D5DE;
			margin-right: 10px;
		}
		
		.icon-svg-arr-down {
			width: 7px;
			height: 4px;
			fill: #D3D5DE;
		}
		
		span {
				font-size : 15px;
				color : #D3D5DE;
				@extend %aM;
				line-height: 1;
			margin-right: 10px;
		}
	}
	
	.footer_phone-current {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	
	.footer_map {
		display: flex;
		align-items: center;
		padding-bottom: 10px;
		.icon-svg-mapMarker {
			width: 12.6px;
			height: 15px;
			fill: rgba(211, 213, 222, .9);
			margin-right: 10px;
		}
		
		span {
			@extend %aM;
			color: rgba(211, 213, 222, .9);
			font-size: 15px;
			line-height: 1;
		}
	}
	

	
	.footer_chatWidget {
		//width: 190px;
		//height: 21px;
		//background: red;
		.footer_chatWidget-btn {
			width: 190px;
			height: 21px;
			//background: red;
		}
	}
}