header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 80px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 100;
	
	.container {
		max-width: 1445px;
		padding: 0 25px;
		width: 100%;
		display: flex;
	}
	
	.header_logo {
		width: 195px;
		height: 65px;
		background-color: #D91E48;
		border-top-left-radius: 33px;
		border-bottom-left-radius: 33px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.header_nav {
		background: rgba(240, 242, 247, .85);
		border-radius: 0px 2px 2px 0px;
		height: 65px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1132px;
		width: 100%;
		padding: 0 3.5%;
		margin-right: 2px;
	}
	
	.header_nav-menu {
		max-width: 897px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		height: 100%;
		
	}
	
	.menu_item {
		//font-family: Avenir Next;
		font-size: 15px;
		color: #23283D;
		color: rgb(35, 40, 61);
		@extend %aR;
		background: url("/img/main/menu_arr.svg") no-repeat 50% 73%;
		background-size: 7px 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			padding: 5px;
		}
		
		&.selected {
			color: #D91E48;
			background: none;
		}
	}
	
	.header_nav-lang {
		margin-left: 25px;
		
		.header_nav-lang_btn {
			font-size: 13px;
			color: #23283D;
			@extend %aR;
			padding: 2px;
			cursor: pointer;
			
			&.selected {
				color: #D91E48;
			}
		}
	}
	
	.header_call {
		width: 65px;
		height: 65px;
		background: rgba(43, 46, 61, .9);
		border-radius: 2px 2px 32px 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		
		.icon-svg-binotel_phone {
			width: 17.3px;
			height: 25px;
			fill: #ffffff;
		}
	}
}